@font-face {
    font-family: 'Courier';
    font-display: swap;
    src: url("../fonts/CourierStd.woff") format("woff"), url("../fonts/CourierStd.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.w-100 {
    width: 100%;
}

.ml-0 {
    margin-left: 0 !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.mt-3 {
    margin-top: 15px !important;
}

.content-justify-between {
    justify-content: space-between;
}

.footer-top__subscribe form {
    margin-top: 20px;
}

.gallery__item {
    height: 283px;
    width: 283px;
    margin: 10px auto;
}

@media (max-width: 768px) {
    .gallery__item {
        width: 100%;
        height: 150px;
    }
}

.gallery__item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.term-giftcard .woocommerce-loop-product__link {
    margin-bottom: 0;
    height: 100%;
}

.term-giftcard .product_type_simple {
    display: block;
    text-align: center;
    background: #b87762;
    padding: 10px 0;
    color: #fff;
    text-transform: uppercase;
}

.products .product-item .product_type_pw-gift-card,
.products .product-item .product_type_variation {
    display: block;
    text-align: center;
    background: #b87762;
    padding: 10px 0;
    color: #fff;
    text-transform: uppercase;
}

.term-giftcard .products__image img {
    width: 100%;
}

.term-giftcard .product {
    margin-bottom: 50px;
}

.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments {
    background: #b87762 !important;
    border: 0 !important;
}

.footer__menu-list .footer-link-item a {
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    color: #000;
    text-transform: uppercase;
}

/*Checkout*/
.woocommerce-cart-form .cart {
    display: block;
}

.woocommerce-cart-form .product-remove {
    display: flex;
    align-items: center;
}

.woocommerce-cart-form .product-thumbnail {
    height: 150px;
    width: 150px;
}

.woocommerce-cart-form .product-thumbnail img {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.woocommerce .woocommerce-cart-form .product-thumbnail .attachment-woocommerce_thumbnail {
    height: 100% !important;
}

.product-name {
    padding-left: 15px;
}

.qib-text {
    display: none;
}

.product-name-title {
    padding-left: 20px;
    text-transform: uppercase;
}

.product-quantity-title {
    text-transform: uppercase;
}

.products-title {
    margin-bottom: 20px;
}

.cart_item {
    margin-bottom: 60px;
}

.cart .woocommerce {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart-title {
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'Courier';
    font-weight: 400;
    margin-top: 70px;
    margin-bottom: 10px;
}

.cart-collaterals {
    border: 1px solid #95989a;
    padding: 10px;
}

.cart-collaterals .cart_totals h2 {
    font-family: 'Courier';
    font-weight: normal;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.cart-collaterals .cart_totals .cart-subtotal, .cart_totals .shipping_method_name {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
}

.cart_totals #shipping_method {
    text-transform: none;
}

.cart_totals .shipping_method_name {
    margin-bottom: 10px;
    display: block;
}

.cart-collaterals .cart_totals .shop_table,
.cart-collaterals .cart_totals .shop_table_responsive {
    border-bottom: 1px solid #707070;
    padding-bottom: 20px;
}

.cart-collaterals .cart_totals .order-total {
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'Montserrat';
    font-weight: 400;
    margin-top: 20px;
}

.cart-collaterals .cart_totals .order-total .order-total-price {
    text-align: right;
    color: #b87762;
    font-weight: normal;
    margin-top: 10px;
}

.cart-collaterals .cart_totals .order-total .order-total-price strong {
    font-weight: 400;
}

.checkout-button::after {
    content: '';
}

.cart-collaterals .cart_totals .wc-proceed-to-checkout {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.cart-collaterals .cart_totals .checkout-button {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Courier';
    font-weight: normal;
}

.woocommerce-cart-form .actions {
    display: none;
}

.woocommerce-shipping-calculator >   a {
    text-transform: capitalize;
    text-decoration: revert;
}

@media (max-width: 768px) {
    .cart_item .product-quantity {
        padding-left: 20px;
        margin-top: 20px;
    }

    .cart_item .product-subtotal {
        margin-top: 20px;
        text-align: right;
    }

    .woocommerce-cart-form .products-title {
        display: none;
    }
}

/*Create Account*/
.welcome-create-account {
    margin-top: 50px;
}

.create-account__input::placeholder {
    text-transform: uppercase;
    color: #000 !important;
    opacity: 1;
}

.woocommerce-form-register__submit {
    text-transform: uppercase;
}

.onsale {
    z-index: 100;
}

.single-section .summary .cart .price del {
    margin-right: 10px;
}

a.remove:hover {
    color: #000 !important;
    background: none;
}

.page-banner__image {
    max-height: 100%;
    width: 100%;
}

.single-section .woocommerce-product-gallery {
    position: relative;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    top: 15px !important;
}

.giftcard-description {
    font-size: 14px;
    font-weight: 300;
    color: #7f7f7f;
    margin-bottom: 30px;
}

.products .added_to_cart {
    display: none;
}

.au-personalize {
    display: block;
    text-align: center;
    background: #b87762;
    padding: 10px 0;
    color: #fff;
    text-transform: uppercase;
}

.au-personalize:hover {
    color: #fff;
}

.product-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(240, 226, 216, 1);
}

.product-item a {
    margin-bottom: 0 !important;
}

/*.advantages {*/
/*	margin-top: 50px;*/
/*}*/

.mb-5 {
    margin-bottom: 50px;
}

.account-nav {
    width: 100% !important;
}

.woocommerce-account .account-nav .woocommerce-MyAccount-navigation-link {
    margin-bottom: 0 !important;
}

.account-nav ul li a {
    color: #7f7f7f !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    line-height: 20px !important;
    text-decoration: none !important;
}

@media (max-width: 580px) {
    .search-modal {
        width: 100%;
    }

    .search-modal__btn {
        width: 100%;
    }
}

@media (max-width: 783px) {
    .header__search {
        top: 185px;
    }
}

.woocommerce-checkout form .col2-set p {
    margin-bottom: 0;
}

/*.woocommerce-checkout input {*/
/*	width: 100%;*/
/*}*/

.woocommerce-checkout .form-row-first {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.woocommerce-checkout .form-row-last {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.woocommerce-checkout .select2-container .select2-selection--single {
    height: 48px;
    border: 1px solid #707070;
    border-radius: 0;
}

.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
    font-family: 'Courier';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    width: 100%;
    padding: 12px;
    border: 1px solid #707070;
    outline: 0;
    margin-bottom: 10px;
}

.woocommerce-privacy-policy-text p {
    font-size: 14px !important;
}

@media (max-width: 490px) {
    .banner__btn {
        font-size: 24px;
        line-height: 40px;
    }
}

.footer form input[type=email] {
    font-family: 'Courier';
    border: none;
    outline: 0;
    width: 300px;
    height: 35px;
    padding-left: 12px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer form input[type=submit] {
    font-family: 'Courier';
    background: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    margin-left: 20px;
    padding: 0 25px 0 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.ajax-loader {
    display: none;
}

/*.flex-form {*/
/*	display: flex;*/
/*}*/

@media (max-width: 520px) {
    .flex-form {
        display: block;
    }

    .flex-form .wpcf7-email {
        width: 100% !important;
    }

    .flex-form .wpcf7-submit {
        margin-top: 10px;
        margin-left: 0 !important;
        width: 100%;
    }

    .search-field {
        width: 100% !important;
    }

    .search-modal__input {
        width: 100% !important;
        padding: 20px 25px 20px 25px !important;
    }
}

.search-form input[type=submit] {
    font-size: 14px !important;
}

.howtoorder__image {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wpcf7-not-valid-tip {
    display: none;
}

.wpcf7-response-output {
    margin: 0 !important;
    border: 2px solid #B87762 !important;
}

.lost_password {
    margin: 20px 0;
}

.log-in-row {
    display: flex;
    justify-content: space-between;
}

.woocommerce .woocommerce-form-login__rememberme {
    margin: 0;
}

.log-in-row .log-in-button {
    margin-top: 0 !important;
}
.woocommerce-shipping-totals.shipping .shipping_method_name{
    font-size: 1.17em;
}

.variation dt {
    display: none;
}

.shop_table .cart_item .product-name .variation-Personalize {
    margin-left: 5px;
}
.shop_table .cart_item .product-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 0;
}

.footer-payments-logo {
    padding-left: 95px;
    margin-top: 15px;
}

@media (max-width: 1199px) {
    .footer-payments-logo {
        padding-left: 0;
        margin-top: 15px;
    }
}

.container-slider {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.banner {
    /*margin: 0 60px;*/
}

.slider-titles-container {
    position: absolute;
    right: 10%;
    top: 15%;
    text-align: right;
    z-index: 99;
}

.slider-title-first,
.slider-title-second {
    font-size: 40px;
    padding: 5px 15px;
    color: #B87762;
    text-transform: uppercase;
    font-weight: 700;
    background: white;
    margin-bottom: 6px;
    text-align: center;
}

.slider-title-third {
    font-size: 30px;
    padding: 5px 15px;
    color: white;
    text-transform: lowercase;
    font-weight: 400;
    background: #000;
    display: inline-block;
}

@media (max-width: 1199px) {
    .slider-titles-container {
        right: 5%;
        top: 5%;
    }

    .slider-title-first,
    .slider-title-second {
        font-size: 26px;
        padding: 5px 10px;
    }

    .slider-title-third {
        font-size: 20px;
        padding: 5px 10px;
    }
}

@media (max-width: 800px) {
    .slider-title-first,
    .slider-title-second {
        font-size: 20px;
        padding: 2px 5px;
    }

    .slider-title-third {
        font-size: 16px;
        padding: 2px 5px;
    }

    .banner {
        margin: 0 15px;
    }
}

.image-container {
    width: 100%;
    height: 300px;
    display: inline-block;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: 1s;
}

.image-container img:hover {
    transform: scale(1.2);
}

.blankets-title {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 16px;
    color: #B87762;
    padding: 5px 10px;
    background: white;
    width: 80%;
    text-align: center;
    font-weight: 700;
}

.d-flex-center {
    display: flex;
    justify-content: center;
}

.woocommerce-error {
    padding: 10px;
}

.product-more-info-btn {
    text-align: center;
    color: #000;
    text-transform: lowercase;
}

.woocommerce-loop-product__title {
    font-weight: 700 !important;
}

.product-permalink-image {
    border: 4px solid transparent;
}

.product-permalink-image:hover {
    border: 4px solid #B87762;
}

.woocommerce .woocommerce-order .woocommerce-thankyou-order-received {
    padding-left: 15px;
}

.woocommerce .woocommerce-order .woocommerce-order-details {
    margin-top: 20px;
    padding-left: 15px;
}

.woocommerce .woocommerce-order .woocommerce-thankyou-order-details {
    padding-left: 15px;
}

.woocommerce .woocommerce-order .woocommerce-table--order-details {
    text-align: left;
}

.woocommerce .woocommerce-order .product-name {
    padding-left: 0;
}

.woocommerce .woocommerce-order .woocommerce-customer-details {
    margin-top: 20px;
}

.woocommerce .woocommerce-order .woocommerce-column--shipping-address {
    margin-top: 20px;
}

.single-section .woocommerce-product-gallery .flex-control-nav {
    display: flex;
}

.single-section .woocommerce-product-gallery .flex-control-nav li {
    margin-right: 10px;
}

.single-section .woocommerce-product-gallery .flex-control-nav li:nth-child(4n) {
    margin-right: 10px !important;
}

.single-section .woocommerce-product-gallery .flex-control-nav li:last-child {
    margin-right: 0;
}

.single-section .summary .price .price-desc {
    display: none;
}

.single-section .summary .cart {
    margin-top: 15px;
}

.single-section .up-sells {
    margin-top: 30px;
}

.single-section .up-sells h2 {
    padding-left: 15px;
}

.wc-stripe-cart-checkout-container {
    display: flex;
    justify-content: center;
}

#ppc-button {
    margin-top: 10px;
}

.woocommerce-info, .woocommerce-message {
    color: white !important;
    font-weight: bold !important;
}

.restore-item {
    color: white !important;
    font-weight: bold !important;
}

.restore-item:hover {
    color: #d9cccc !important;
}

.woocommerce-info a.button, .woocommerce-message a.button {
    color: white !important;
    font-weight: bold !important;
}

.woocommerce-info a.button, .woocommerce-message a.button:hover {
    color: #d9cccc !important;
}

.navigation-desk {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.navigation-desk nav {
    margin-top: 0;
}

.page-content .woocommerce-account-content {
    display: inline-block;
}

.page-content .woocommerce-account-content p {
    padding-left: 15px;
}

@media (max-width: 998px) {
    .navigation-desk {
        display: block;
        width: 100%;
    }

    .page-content .woocommerce-account-content {
        margin-bottom: 15px;
    }

    .page-content .woocommerce-account-content p {
        padding-left: 0;
    }

    .page-content .woocommerce-account-content .woocommerce-Addresses .woocommerce-Address {
        padding-left: 0;
    }
}

.validate-state {
    padding-bottom: 15px;
}


.update_totals_on_change {
    padding-bottom: 15px;
}

.select2-container .select2-selection--single {
    height: 30px;
}

.woocommerce-account-content form .woocommerce-address-fields button {
    background: #B87762;
    color: white;
    font-weight: 700;
}

.woocommerce-account-content p {
    padding-left: 0 !important;
}

.cart .cart_totals .wc-proceed-to-checkout .or {
    display: none !important;
}

.woocommerce-form-login {
    margin-top: 15px;
}

.woocommerce-form-register {
    margin-top: 15px;
}

